.head{
	color: #F63;
	font-family: "Neucha", Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	margin-bottom: $w ;
}


.footprints {
	display: inline-block;
	text-align: center;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
}


.footprints::after{
	background: url(../images/Shape-5.png) ;
	@include pseudo-left($h, $w, 0, 0);
    transform: rotate(180deg);
}



.footprints::before{
	background: url(../images/Shape-5.png) ;
	@include pseudo-right($h, $w, 0, 0);
    transform: rotate(180deg);
}


.small-footprints {
	display: none;
}
