.form-home-wrapper {
.wrapper-form {
	float: left;
	max-width: 290px;
	border: solid 3px #f26522;
	border-radius: 10px;
	padding: 0 0 0 30px;
.sex-cat {
	display: inline-block;
    margin-bottom: 5px;
}
}
.input-box-color {
	margin-bottom: 5px;		
}
}
.form-cat {
	font: 25px "Neucha", Arial, Helvetica, sans-serif;
    color: #ff6633;
}

.sex-cat:after {
	content:"*";
	color: #fe0012;
}
.foorma {
	border:1px solid #790000;
	padding:2px;
	width: 117px;
    margin-right: 20px;
    float: left;
    margin-bottom: 17px;
}
.foorma-tel,.foorma-email {
	border:1px solid #790000;
	padding:2px;
	width: 264px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.textarea {
	    width: 264px;
    font-family: Arial;
    border:1px solid #790000;
    margin-bottom: 17px;
}
.button-form {
    max-width: 211px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0 auto 30px;
    display: block;
    text-align: center;
}
.rules-contacts {
	float: left;
	width: 460px;
	margin: 0 0 0 107px;
.form-cat-two {
    font: 25px "Neucha", Arial, Helvetica, sans-serif;
    color: #ff6633;
    text-align: center;
}
}
.rules-content {
p {
    color: #5c3434;
    margin: 0 0 14px;
    line-height: 1;
    font-size: 16px;
}
}

.wrapper-contacts-img {
	float: left;
}
.wrapper-contacts-tel {
	float: left;
	font: bold 16px "Neucha", Arial, Helvetica, sans-serif;
	p {
	line-height: 1.3;
	font-size: 16px;
}
	a {
	color:#000;
}
}

.input-box-name {
.sex-cat-c {
	display: inline-block;
	margin-bottom: 5px;
}
}

.small-sex-cat {
	display: none;
}
