.header {
	margin:0 auto;
	max-width:918px;
	position: relative;
	margin: 85px 0 45px;
.main-unit {
	display: inline-block;
	float:left;
.subject {
	font-size: 85px;
	color: #f60;
	font-weight: 400;
	line-height: 1;
}
.feel {
	font-size: 35px;
	line-height: 1;
}
}
.big-picture {
.background-picture {
	display:block;
	margin:0 auto;
	margin-bottom: 45px;
	max-width: 100%;
	height: auto;
}
}
}

