.nav {
	margin-bottom: -100px;
	float:right;
	z-index: 1;
	position: relative;
.social {
.menu {
	opacity: 0.7;
	margin-bottom: 15px;
.link {
	display: block;
	text-align: center;
}
}
}
}

.nav {
.social {
.menu:hover {
	opacity:1;
}
}
}

.clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
}
}

@media (max-width:554px) {
.nav {
	margin-bottom: 0;
	width: 100%;
.social {
	text-align: justify;
	font-size: 0.1px;
&:after{
   content: '';
   display: inline-block;
   width: 100%;
}
.menu {
	display: inline-block;
}
}
}
}

@media (max-width:490px) {
.nav {
.social {
.menu {
	display: inline-block;
.social-icons {
	width: 50%;
	height: auto;
}
}
}
}
}

@media (max-width:328px) {
.nav {
.social {
		text-align: center;
}
}
}