.nav {
	margin-bottom: -100px;
	float:right;
	z-index: 1;
	position: relative;
.social {
.menu {
	opacity: 0.7;
	margin-bottom: 15px;
.link {
	display: block;
	text-align: center;
}
}
}
}

.nav {
.social {
.menu:hover {
	opacity:1;
}
}
}

.clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
}
}
