.order {
	text-align: center;
	margin-bottom: 100px;
}
.order-expected{
	color: #EC4C17;
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    position: relative;
    
}
.order-recording {
	font: 30px "Neucha", Arial, Helvetica, sans-serif;
    margin: 0 0 14px;
    display: block;
    text-align: center;
}
.order-description {
	display: block;
    margin: ($o) 32px;
    width: 635px;
    text-align: center;
    line-height: 1.2;
    font-size: 16px;
}
.button-order {
    display: inline-block;
    max-width: 298px;
    padding:18px 10px 18px 10px;
}
