.wrapper-about {
	font-family: "Meiryo";
	font-weight: 400;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.illustration {
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 22%;
}
.description {
	float:left;
	width:36.5%;
	color: #000;	
	font-size: 16px;
	padding-left: 10px;
p {
	line-height: 1.2;
}
}

.origin {
	font-family: "Meiryo", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #C63;
	font-size: 18px;
	font-weight: bold;
}
