.reviews-box {
	width: 300px;
	float: left;
}
.reviews-citi {
	width: 300px;
.illustration-reviews {
	float: left;
}
.cite-author-name {
	float: left;
	margin: 26px 0 0 20px;
.site {
    color: #ae8383;
}
}
}
.cat-reviews  {
	float: left;
	width: 100%;
img {
	margin: 0 auto;
	display: block;
}
}
blockquote {
	display: block;
	line-height: 1.2;
	font-size: 16px;
}
